input {
  position: absolute;
  cursor: pointer;
  opacity: 0;
}

.card {
  padding: 30px 0 30px;
  max-width: 200px;
  text-align: center;
  overflow: hidden;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  cursor: pointer;
  .avatar {
    display: inline-block;
    height: 150px;
    width: 150px;
    margin-bottom: 10px;
    position: relative;
    img {
      width: 100%;
      height: auto;
      border-radius: 50%;
      transition: box-shadow 0.3s ease;
      box-shadow: 0px 0px 0px 8px rgba(0, 0, 0, 0.06);
    }
    .span {
      position: absolute;
      bottom: 3px;
      right: 3px;
      height: 23px;
      width: 23px;
      border-radius: 100%;
      background-color: #dee7f3;
      transition: background-color 0.1s ease-in;
      border: 4px solid #FFFFFF;
    }
  }
  h1 {
    font-size: 24px;
    color: #0077b6;
    margin-bottom: 0;
  }
  h2 {
    margin-top: 5px;
    font-size: 15px;
    color: #a1a1a1;
  }
  &:hover .avatar {
    img {
      box-shadow: 0px 0px 0px 12px rgba(0, 0, 0, 0.1);
    }
  }
}

input:checked ~ .card .avatar {
  img {
    box-shadow: 0px 0px 0px 12px rgba(0, 0, 0, 0.1);
  }
  .span {
    background-color: #0077b6;
  }
}
