input {
  position: absolute;
  cursor: pointer;
  opacity: 0;
}

.card {
  box-sizing: border-box;
  font-size: 14px;
  margin: 5px;
  min-width: 130px;
  max-width: 130px;
  height: 60px;
  background-color: #fafafa;
  color: #2E2E46;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  &:hover {
    background-color: white;
    color: #0077b6;
    border: 3px solid #0077b6;
  }
}

input:checked ~ .card {
  background-color: white;
  color: #0077b6;
  border: 3px solid #0077b6;
}